<form action="{{ path('admin_pad_delete', { 'id': pad.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button type="submit" class="confirm-delete btn btn-block btn-danger">Supprimer</button>
</form>