{% block padusers_widget %}
    {% spaceless %}
        {{ block('collection_widget') }}
    {% endspaceless %}

    <script type="text/javascript">
        var $addLink = jQuery('<a href="#">Add</a>');
        var $newLink = jQuery('<div class="add-link"></div>').append($addLink);
        var collectionHolder = jQuery('.ifensl_paduser__padusers');

        jQuery(document).ready(function() {
            collectionHolder.append($newLink);

            $addLink.on('click', function(e) {
                e.preventDefault();
                addForm(collectionHolder, $newLink);
            });

            collectionHolder.find('.paduser').each(function() {
                addFormDeleteLink($(this));
            });
        });

        function addForm(collectionHolder, $newLink) {
            var prototype = collectionHolder.data('prototype');
            var $newForm = prototype
                .replace(/__name__label__/g, '')
                .replace(/__name__/g, collectionHolder.children().length)
            ;
            var $newFormDiv = jQuery('<div></div>').append($newForm);
            $newLink.before($newFormDiv);
            addFormDeleteLink($newFormDiv);
        }

        function addFormDeleteLink($formDiv) {
            var $removeFormA = jQuery('<div class="remove-link"><a href="#" class="btn btn-default">Delete</a></div>');
            $formDiv.append($removeFormA);

            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $formDiv.remove();
            });
        }
    </script>
{% endblock %}
