
@font-face
{
    font-family: 'lobster';
    src: url('../fonts/lobster_1.4-webfont.eot');
    src: url('../fonts/lobster_1.4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster_1.4-webfont.woff') format('woff'),
         url('../fonts/lobster_1.4-webfont.ttf') format('truetype'),
         url('../fonts/lobster_1.4-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * General properties
 */

body
{
    margin: 0;
    background: url('../images/background.png') repeat;
    color: #000;
}

iframe
{
    width: 95%;
    margin: 0 2%;
    min-height: 600px;
}

/**
 * Home page
 */

/* Header */
header
{
    height: 200px;
}

header h1
{
    font-size: 50px;
    font-family: lobster;
    line-height: 200px;
    text-align: center;
    color: #2986dc;
    height: 200px;
    margin: 0;
}

/* Footer */
footer
{
    height: 300px;
}

footer .web-eco-picture
{
    background: url('../images/sprite.png') no-repeat 0px -70px;
    width: 1000px;
    height: 300px;
    margin: 50px auto 0;
}

/* Content of the page */
#main
{
    min-height: 320px;
    background: url('../images/bg_kraft.png') repeat;
    border-bottom: 3px solid #8f7553;
    border-top: 3px solid #8f7553;
    overflow: hidden;
}

/* Alert */
.alert p {
    margin: 0;
}

/* Form */

.new-pad form
{
    width: 315px;
    margin: 20px auto 0;
}

.new-pad form select:focus
{
    outline: none;
}

.new-pad form input:focus:invalid:focus,
.new-pad form select:focus:invalid:focus {
    box-shadow: none;
}

/* Form > Icons on label */
.new-pad form label
{
    font-size: 0;
    height: 20px;
    width: 20px;
    float: left;
    margin: 5px 10px 5px 15px;
}

.new-pad form label[for="ifensl_padmanagerbundle_pad_padOwner"],
.new-pad form #ifensl_padmanagerbundle_pad_padUsers label { background: url('../images/sprite.png') no-repeat 0px 0px; }
.new-pad form label[for="ifensl_padmanagerbundle_pad_program"] { background: url('../images/sprite.png') no-repeat -20px 0px; }
.new-pad form label[for="ifensl_padmanagerbundle_pad_unit"] { background: url('../images/sprite.png') no-repeat -40px 0px; }
.new-pad form label[for="ifensl_padmanagerbundle_pad_subject"] { background: url('../images/sprite.png') no-repeat -60px 0px; }

.new-pad form input,
.new-pad form select {
    background: #e5e5e5;
    border: none;
}

/* Form > content div */
.new-pad form #ifensl_padmanagerbundle_pad > div,
.new-pad form #ifensl_padmanagerbundle_pad_padUsers > div > div
{
    margin: 20px 0;
    background: #e5e5e5;
    border-radius: 20px;
    height: 30px;
    width: 280px;
}

/* Form > content of padUsers */
.new-pad form #ifensl_padmanagerbundle_pad > div:nth-child(2)
{
    background: none;
    height: auto;
}

/* Global "Pad Users" label */
.new-pad form #ifensl_padmanagerbundle_pad > div:nth-child(2) > label
{
    display: none;
}

.new-pad form #ifensl_padmanagerbundle_pad_padUsers,
.new-pad form #ifensl_padmanagerbundle_pad_padUsers > div
{
    position: relative;
}

/* Form > Add & Remove links */
.new-pad form #ifensl_padmanagerbundle_pad_padUsers div.add-link
{
    position: absolute;
    left: 300px;
    top: -55px;
    margin: 5px 0;
    background: #e5e5e5;
    padding: 5px;
    border-radius: 15px;
}

.new-pad form #ifensl_padmanagerbundle_pad_padUsers div.add-link a
{
    display: block;
    font-size: 0;
    width: 20px;
    height: 20px;
    background: url('../images/sprite.png') no-repeat -120px 0px;
}

.new-pad form #ifensl_padmanagerbundle_pad_padUsers div.add-link:hover,
.new-pad form #ifensl_padmanagerbundle_pad_padUsers div.remove-link:hover
{
    background: #fff;
}

.new-pad form #ifensl_padmanagerbundle_pad_padUsers div.remove-link a
{
    display: block;
    font-size: 0;
    width: 20px;
    height: 20px;
    background: url('../images/sprite.png') no-repeat -140px 0px;
}

.new-pad form #ifensl_padmanagerbundle_pad_padUsers div.remove-link
{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 300px;
    top: -20px;
    padding: 5px;
    border-radius: 15px;
}

/* Form > button */

.new-pad form #ifensl_padmanagerbundle_pad > div:nth-child(6)
{
    width: 100px;
    margin-left: 180px;
}

.new-pad form button
{
    height: 31px;
    line-height: 31px;
    border: none;
    color: #2986dc;
    text-indent: 42px;
    background: url('../images/createButton.png') no-repeat 20px 6px;
}

/* Mentions */

.new-pad .mentions
{
    padding: 20px 0;
    text-align: center;
    font-family: lobster;
}
.new-pad .mentions a
{
    color: #fff;
}
