{% extends "IfenslPadManagerBundle::layout.html.twig" %}

{% form_theme form 'IfenslPadManagerBundle:Form:fields.html.twig' %}

{% block header %}
    {{ parent() }}
    <h1>Cahier de cours</h1>
{% endblock %}

{% block main %}
    <div class="content container new-pad">
        <form action="{{ path('ifensl_pad_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
        </form>
        <div class="mentions">
            <p>
                Nous recueillons des informations personnelles sur l'utilisation
                de votre cahier de cours.<br />
                Pour en savoir plus sur l'utilisation de ses informations,
                veuillez consulter notre <a href="#">charte de confidentialité</a>.
            </p>
        </div>
    </div>
{% endblock %}
