{% extends "IfenslPadManagerBundle::layout.html.twig" %}

{% form_theme form 'IfenslPadManagerBundle:Form:fields.html.twig' %}

{% block body %}
    <header>
        <h1>Cahier de cours</h1>
    </header>
    <div id="main" class="new-pad">
        <div class="content container">
            {{ form(form) }}
            <div class="mentions">
                <p>
                Nous recueillons des informations personnelles sur l'utilisation
                de votre cahier de cours.<br />
                Pour en savoir plus sur l'utilisation de ses informations,
                veuillez consulter notre <a href="#">charte de confidentialité</a>.
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="web-eco-picture"></div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--
    <script type="text/javascript" src="{{ asset('bundles/ifenslpadmanager/js/userFormCollection.js') }}"></script>
    //-->
{% endblock %}
