<p>
    Indiquez votre adresse email et validez pour obtenir une liste de vos pads.
</p>
<form action="{{ path('ifensl_pad_list_send') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
</form>