{% extends "IfenslPadManagerBundle::homeLayout.html.twig" %}

{% block main %}
    <div class="content container">
        <h2>Pad Créé</h2>
        <p>
            Votre pad à bien été créé, un email viens de vous être envoyé
            contenant toutes les informations ...
        </p>
    </div>
{% endblock %}
