{% extends "IfenslPadManagerBundle::layout.html.twig" %}

{% block body %}
    <header>
        <h1>Cahier de cours</h1>
    </header>

    <div id="main">
        {% block main %}{% endblock %}
    </div>

    <footer>
        <div class="web-eco-picture"></div>
    </footer>
{% endblock %}
